<div class="people-grid people-grid-large">
<% for (const item of items) { %>
<div class="people-img-block">
  <a class="people-img-link people-img-link-large" href="<%= item.path %>" data-title="<%= item.title %>">
    <img class="people-img people-img-large" src="people/<%= item.photo %>" alt="<%= item.title %>">
  </a>
  <a class="people-img-name" href="<%= item.path %>"><%= item.title %></a>
</div>
<% } %>
</div>
