
<div class="member-grid">
<% for (const item of items) { %>
<hr></hr>
<div class="profile-link" onclick="window.location='<%= item.path %>'">
<div class="member-grid-item">
<img src="<%= item.photo || 'images/placeholder.jpg' %>" class="member-grid-image" alt="<%= item.title %>">
<div class="member-grid-position"><%= item.position || 'Director' %></div>
<div class="member-grid-name"><%= item.title ? item.title.replace(/^(Dr\.|Prof\. Dr\.) /, '') : 'Name' %></div>
<div class="member-grid-title"><%= item.title && item.title.match(/^(Dr\.|Prof\. Dr\.)/) ? item.title.match(/^(Dr\.|Prof\. Dr\.)/)[0] : '' %></div>
<div class="member-grid-org"><%= item.organization || 'LMU' %></div>
<div class="member-grid-faculty"><%= item.faculty || '' %></div>
<div class="member-socials">
<% if (item.social_media) { %>
<% if (item.social_media.Bluesky) { %>
<a href="<%= item.social_media.Bluesky %>" title="Bluesky" target="_blank" class="social-link">
<i class="fa-brands fa-bluesky"></i>
</a>
<% } %>
<% if (item.social_media.LinkedIn) { %>
<a href="<%= item.social_media.LinkedIn %>" title="LinkedIn" target="_blank" class="social-link">
<i class="fa-brands fa-linkedin"></i>
</a>
<% } %>
<% if (item.social_media.ORCID) { %>
<a href="<%= item.social_media.ORCID %>" title="OrcID" target="_blank" class="social-link">
<i class="fa-brands fa-orcid"></i>
</a>
<% } %>
<% if (item.social_media.GitHub) { %>
<a href="<%= item.social_media.GitHub %>" title="GitHub" target="_blank" class="social-link">
<i class="fa-brands fa-github"></i>
</a>
<% } %>
<% } %>
</div>
</div>
</div>

<div class="description-text">
<% if (item.personal) { %>
<p><%= item.personal %></p>
<% } else if (item.mission_statement && item.mission_statement.length > 0) { %>
<p><%= item.mission_statement[0] %></p>
<% } else { %>
<p>No description available.</p>
<% } %>
<a href="<%= item.path || '#' %>" class="read-more-btn">Read more</a>
</div>


<% } %>
</div>
